In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, precision_recall_fscore_support, accuracy_score, roc_auc_score

In [3]:
df = pd.read_csv(r"../dataset/weather_train.csv")

In [8]:
df.shape

(130914, 24)

In [4]:
df.head()

,Unnamed: 0,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,110363,2014-01-25,Albany,18.4,26.8,0.2,4.8,8.5,NaN,NaN,...,59.0,72.0,1014.9,1009.2,0.0,3.0,24.0,23.8,No,No
1,22316,2012-05-12,NorfolkIsland,16.1,22.1,2.4,4.2,8.7,S,31.0,...,70.0,70.0,1020.2,1018.2,2.0,3.0,19.9,20.3,Yes,No
2,75456,2010-04-22,Portland,11.6,26.4,0.2,2.2,10.4,W,37.0,...,72.0,59.0,1018.4,1015.5,2.0,6.0,19.7,24.0,No,Yes
3,81222,2009-08-13,Dartmoor,6.8,16.5,0.8,1.4,6.7,NW,37.0,...,99.0,74.0,1015.0,1014.8,NaN,NaN,8.6,14.8,No,No
4,1753,2013-12-17,Albury,16.9,34.0,0.0,NaN,NaN,N,30.0,...,54.0,29.0,1019.5,1016.3,NaN,4.0,24.7,31.8,No,No

In [5]:
df.columns

Index(['Unnamed: 0', 'Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall',
       'Evaporation', 'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am',
       'WindDir3pm', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am',
       'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm',
       'Temp9am', 'Temp3pm', 'RainToday', 'RainTomorrow'],
      dtype='object')

In [6]:
df.isna().sum()

Unnamed: 0           0
Date                 0
Location             0
MinTemp           1348
MaxTemp           1139
Rainfall          2938
Evaporation      56448
Sunshine         62830
WindGustDir       9289
WindGustSpeed     9232
WindDir9am        9479
WindDir3pm        3773
WindSpeed9am      1592
WindSpeed3pm      2727
Humidity9am       2396
Humidity3pm       4026
Pressure9am      13563
Pressure3pm      13523
Cloud9am         50241
Cloud3pm         53349
Temp9am           1599
Temp3pm           3226
RainToday         2938
RainTomorrow      2939
dtype: int64

# Pre-processing

## Remove NA

## Min Max Normalisation

# Train Test Split

# Model Fitting and Prediction

# Evaluation